<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Keyboard over field issue on iOS.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="secondary" routerLink="/tabs/home">With tabs</ion-button>
  <ion-button color="tertiary" routerLink="/home">Without tabs</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filler Card</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filler Card</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filler Card</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filler Card</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Angular Material Form</ion-card-title>
      <ion-card-subtitle>
        Select input field and watch keyboard positioning over the form. Type a
        letter, then position changes and form is visible completely above
        keyboard.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="loginForm form-wrapper">
      <form class="no-outline" novalidate>
        <mat-form-field appearance="fill">
          <mat-label>Angular Material Field 1</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Angular Material Field 2</mat-label>
          <input matInput />
        </mat-form-field>
      </form>
    </ion-card-content>
  </ion-card> -->
  <ion-card
    ><ion-card-header>
      <ion-card-title>Floating ion-label</ion-card-title>
      <ion-card-subtitle>
        Select input field and watch keyboard positioning change so the floating
        label is visible. Form still behind including field. Type a letter, then
        position changes and form is visible completely above keyboard.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="loginForm form-wrapper">
      <form class="no-outline" novalidate>
        <ion-item>
          <ion-label position="floating">Ionic Field 1</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Ionic Field 2</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filler Card</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filler Card</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card
    ><ion-card-header>
      <ion-card-title>Fixed ion-label</ion-card-title>
      <ion-card-subtitle>
        Select input field and watch keyboard positioning change but form is
        completely behind keyboard. Type a letter, then position changes and
        form is visible completely above keyboard.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="loginForm form-wrapper">
      <form class="no-outline" novalidate>
        <ion-item>
          <ion-label>Ionic Field 1</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Ionic Field 2</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
