<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Keyboard offset issue.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Select angular material input field and inspect ion-content. You will see a --keyboard-offset added that does not happen on ion-input.</ion-card-title>
    </ion-card-header>

    <ion-card-content class="loginForm form-wrapper">
      <form class="no-outline" novalidate>
        <mat-form-field appearance="fill" >
          <mat-label>Angular Material Field</mat-label>
          <input matInput>
        </mat-form-field>
        <ion-item>
          <ion-label position="floating">Ion-input field</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
